<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/dashboard" >
        <img class="img-fluid" src="../../../assets/logo.png">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"routerLink="/dashboard"  routerLinkActive="active">Home</a>
          </li>
        </ul>  
        <div class="d-flex">
            <div class="dropdown d-inline-block">
                <div class=" dropdown-toggle d-flex align-items-center" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="../../../assets/avatar-1.jpg" alt="Header Avatar">
                    <span class="d-none d-xl-inline-block ms-1">{{username}}
                        <span class="d-none d-xl-block ms-1 text-primary">{{userRole}}</span>
                    </span>
                </div>
              <div class="dropdown-menu dropdown-menu-end">
                <!-- item-->
                <a (click)="goProfile()" class="dropdown-item"><i class="bx bx-user font-size-16 align-middle me-1"></i>
                    Profile
                </a>
                <div class="dropdown-divider"></div>
                <a  (click)="logout()" class="dropdown-item text-danger"><i
                    class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
                    Logout
                </a>
              </div>
            </div>
      
    
      
          </div>

      </div>
    </div>
  </nav>